*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background:  black;
}
/* nav bar section styles */
.nav-title{
    color: #ffff;
    font-weight: 700;
font-size: 36px;
margin-left: 70px;
margin-top: 30px;
}
nav{
    color: #ffff;  
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
   
}
nav ul{
    
    display: flex;
    align-items: center;
    margin-right: 80px;
    
    
}
nav li{
list-style: none;
margin-left: 40px;
font-size: 18px;
}
/* btn styles */
.btn-primary{
    font-size: 18px;
    font-weight: 500px;
    padding: 15px 15px;
    background-color: gray;
    
    border: 0;
    border-radius: 10px;
}
/* specific span styles */
.t-alphabet{
    color: cornflowerblue;
}
div{
    color: #ffff;
   
}
/* banner-styles */
.banner{
    display: flex;
    align-items: center;
    margin-left: 200px;
    justify-content: space-between;
}
.banner-sub-title{
    font-weight: 700;
    font-size: 48px;
}
.banner-title{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
}
.banner-paragraph{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}
/* about section */
.about{
    color: #ffff;

}
.section-title{
    margin-top: 50px;
text-align: center;
font-size: 40px;
font-weight: 600;

}
.section-paragraph{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    padding: 0px 300px;

}
main{
    margin: 0 auto;
}

.about-info-container{
    color: #ffff;
    display: flex;
 justify-content: space-around;
 padding: 80px 150px;

}
.about-info{
    border: 5px dotted darkblue;
    padding: 5px 10px;
}
.a-title{
text-align: center;
font-weight: 700;
font-size: 18px;
margin-bottom: 3px;

}
.section-container{
    display: flex;
    justify-content: space-around;
}
.section-title{
    margin-bottom: 50px;
}
.plan-title{
font-size: 20px;
font-weight: 700px;
margin-bottom: 3px;
}
.plan-paragraph{
    font-size: 18px;
}
.border{
    border: 5px solid whitesmoke;
    padding: 10px 15px;
    border-radius: 10px;
}
.mindset-container{
   
    background: url(/images/watch.png), url(/images/gradient1.png);
    background-repeat: no-repeat;
    padding:  50px 250px 145px 60px;
    margin-top: 80px ;
    margin-left: 95px;

}
.mindset-btn{
    height: 64px;
    padding: 20px 25px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
font-size: 20px;
text-align: right;
}
.mindset-title{
    font-weight: 700px;
    font-size: 35px;
    text-align: left;
    margin-bottom: 25px;
    color: black;
}
/* future */
.footer{
    margin-top: 50px;
    background-color: #151414;;
}
.future-container{
    display: flex;
}
.future-title{
    font-weight: 700px;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 15px;
}
.future-paragraph{
    font-size: 16px;
    color: #FFFFFF;
    
}
.future{
    margin-top: 100px;
    margin-left: 50px;
}
.future-form{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 20px;
}
.email-holder{
    padding: 20px;
    background-color: #151414;
    border-radius: 10px;

}
.btn-subscribe{
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 500px;
color: #F15B22;
border: none;
border-radius: 10px;
    
}
li{
    list-style: none;

}